<div class="container-fluid">
    <div class="row">
        <div class="col-md-7">
            <div class="card">
                <div class="header">
                    <h4 class="title">Atalhos</h4>
                    <hr/>
                </div>
                <div class="card-body">
                    <div class="col-md-8">
                        <div class="title">
                            Operacional
                        </div>
                        <div class="col-md-6 p10">
                            <a href="#" class="btn btn-primary">Envio</a>
                        </div>
                        <div class="col-md-6 p10">
                            <a href="#" class="btn btn-primary">Assinatura</a>
                        </div>
                        <div class="col-md-6 p10">
                            <a href="#" class="btn btn-primary">Envio Duplicatas</a>
                        </div>
                        <div class="col-md-6 p10">
                            <a href="#" class="btn btn-primary">Assinatura Digital</a>
                        </div>
                        <div class="col-md-6 p10">
                            <a href="#" class="btn btn-primary">Nova Operação</a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="title">
                            Geral
                        </div>
                        <div class="col-md-12 p10">
                            <a href="#" class="btn btn-primary">Carteira</a>
                        </div>
                        <div class="col-md-12 p10">
                            <a href="#" class="btn btn-primary">Instruções</a>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card ">
                <div class="header">
                    <h4 class="title" style="float:left">Alertas</h4>
                    <p style="float:right">Últimos 5 dias</p>
                    <div class="clearfix"></div>
                    <hr/>
                </div>
                <div class="card-body">
                    <div class="title">
                        23 Notas Canceladas
                    </div>                    
                    <hr/>
                    <div class="title" style="float:left">
                        13 Notas Canceladas
                    </div>
                    <div class="title" style="float:right">
                        <div class="input-group m0">
                            <select class="form-control" style="margin:0">
                                <option value="">Ações</option>
                            </select>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <hr/>
                    <div class="title" style="float:left">
                        7 Assinaturas Digitais
                    </div>
                    <div class="title" style="float:right">
                        <div class="input-group">
                            <select class="form-control" style="margin:0">
                                <option value="">Ações</option>
                            </select>
                        </div>
                    </div>
                    <div class="clearfix"></div>           
                </div>
            </div>
        </div>
    </div>
</div>
